* {
  margin: 0;
  padding: 0;
}

.App {
  height: calc(100% - 50px);
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

header {
  background-color: #9932CC;
}

header ul {
  height: 100%;
  display: flex;
  flex-direction: row;
}

header ul li {
  height: 40px;
  padding: 5px;
  list-style: none;
  color: #F5F5F5;
  background-color: #800080;
  border-right: 1px solid beige;
}

.welcome-preview {
  text-align: center;
}

.ml-xs {
  margin-left: 3px;
}
